body {
	overflow-y: hidden;
}

.content-tab {
	background-color: #000000;
	padding: 20px 0;
}

.content-tab > button {
	border: 0;
	background-color: #000000;
	width: 100%;
	text-align: left;
	padding: 20px 6px !important;
	font-size: 18px;
	color: #FFFFFF;
}

.component--search {
	width: 100%;
	text-align: center;
	margin: 25px 0;
	display: flex;
}

.content-frame {
	height: 100vh;
	max-height: 100vh;
	padding: 0 5vw !important;
	box-shadow: 0 0 3px #000000;
}

.component--search > button:hover {
	background-color: #2f2f2f;
}

#sp-style-create-form {
	margin-top: 35px;
}

#sp-style-create-form > *, #sp-style-create-form > div > * {
	min-width: 100%;
}

#sp-style-create-form * label {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}